/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

img {
    width : 33%;
}

table {
    border: solid 1px black;
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
    border: solid 1px black;
}